/* Global */

#pages {
  > * {
    display: none;
    border-radius: $radius;
  }
}

.home-wrapper {
  margin: 30px auto;
  padding: 10px ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
  align-items: center;
}

/* about */
@mixin img-title {
  font-family: $font-header;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: $color-light;
  display: block;
  margin-bottom: 10px;
}

.about {
  margin: 0 60px;
  padding: 0 90px;
  margin-bottom: 70px;
  text-align: center;

  h3 {
    font-family: $font-header;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    padding: 20px 0;
  }
}

/* gallery */

.gallery {
  margin: 0 60px;
  padding: 0 90px;
  margin-bottom: 70px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .box-large {
    width: 69%;
    height: 100%;
    margin: 0;
    float: left;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-image: url("https://raw.githubusercontent.com/AniaGoodness/project-pizzeria/master/project-pizzeria/src/images/lemongrass/menu.jpg");
    background-size: cover;

    .image-title {
      margin-top: 500px;
    }

    h2 {
      @include img-title;
    }

    a {
      text-decoration: none;
      color: $color-light;
      margin-bottom: 10px;
    }
  }

  .box-wrapper {
    float: left;
    width: 31%;
    height: auto;
    text-align: center;

    .box-medium {
      float: left;
      width: 100%;
      height: 300px;
      justify-content: center;
      text-align: center;
      overflow: hidden;
      background-size: cover;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
      background-image: url("https://raw.githubusercontent.com/AniaGoodness/project-pizzeria/master/project-pizzeria/src/images/pizza-3.jpg");
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      h2 {
        @include img-title;
        margin-bottom: 0;
      }

      a {
        color: $color-light;
        text-decoration: none;
        margin-bottom: 10px;
      }
    }
    
    .box-hour {
      float: left;
      width: 100%;
      height: 284px;
      text-align: center;
      background-image: url("https://raw.githubusercontent.com/AniaGoodness/project-pizzeria/master/project-pizzeria/src/images/lemongrass/open.jpg");
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      h2 {
        @include img-title;
        padding-top: 50px;
        margin-bottom: 0;
      }

      .data {
        font-family: $font-text;
        color: $color-main;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 14px;
        min-height: 18px;
        line-height: 18px;
      }
    }
  }
}

/* footer */

.page-footer .container {
  display: table;
  margin: 48px auto;

  ul {
    list-style-type: none;
    display: table;
    text-align: center;
    padding-left: 0;

    li {
      font-size: 0px;
      display: inline-block;   
    }
  }
}

.page-footer i {
  padding: 20px;
  font-size: 40px;
  color: $color-dark;
  transition: 2s;

  &:hover {
    transform: scale(1.2);
    color: $color-danger;
  }
}
