/* Global */

#pages {
  > * {
    display: none;
    border-radius: $radius;
  }
}

.home-wrapper {
  margin: 30px auto;
  padding: 10px ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
  height: 1200px;
}

/* about */
@mixin img-title {
  font-family: $font-header;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: $color-light;
  display: block;
  margin-bottom: 10px;
}

.about {
  margin: 0 60px;
  padding: 0 90px;

  h3 {
    font-family: $font-header;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    padding: 20px 0;
  }
}

/* .hour-wrapper {
  position: relative;
  float: left;
  width: 100%;
  line-height: 15px;
  height: 126px;
  bottom: 0px;
  padding-top: 0px;
  top: 0px;
  background-color: $color-special;
  border-radius: $radius;
  color: $color-main;
  text-align: center;
}

.opening-hours {
  height: 30px;

  .title {
    font-family: $font-header;
    height: 30px;
    font-size: 26px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .data {
    font-family: $font-text;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    min-height: 18px;
    line-height: 18px;
  }

} */

/* gallery */

.gallery-wrapper {
  position: relative;
  background-position: centaer center;
  background-size: cover;
  background-attachment: fixed;
  display: inline-block;
  width: 100%;
  max-height: 660px;
  line-height: 15px;
  margin: 100px 50px;
}

.box-large {
  width: 49%;
  height: 660px;
  height: auto;
  margin: 0;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-image: url("https://raw.githubusercontent.com/AniaGoodness/project-pizzeria/master/project-pizzeria/src/images/lemongrass/menu.jpg");

  .image-title {
    margin-top: 530px;
  }

  h2 {
    @include img-title;
  }

  a {
    text-decoration: none;
    color: $color-light;
  }
}

.box-wrapper {
  float: left;
  display: block;
  width: 49%;
  height: 660px;
  text-align: center;

  .box-medium {
    display: block;
    height: 39%;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/AniaGoodness/project-pizzeria/master/project-pizzeria/src/images/pizza-3.jpg");

    h2 {
      @include img-title;
    }

    a {
      text-decoration: none;
      color: $color-light;
    }

    .image-title {
      padding-top: 20px;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
    }
  }

  .box-hour {
    display: block;
    height: 59%;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/AniaGoodness/project-pizzeria/master/project-pizzeria/src/images/lemongrass/open.jpg");
    
    h2 {
      @include img-title;
    }

    .data {
      font-family: $font-text;
      color: $color-main;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 14px;
      min-height: 18px;
      line-height: 18px;
    }
  }
}


/* footer */
.page-footer .container {
  display: table;
  margin: 48px auto;

  ul {
    list-style-type: none;
    display: table;
    text-align: center;
    padding-left: 0;

    li {
      font-size: 0px;
      display: inline-block;   
    }
  }
}

.page-footer i {
  padding: 20px;
  font-size: 40px;
  color: $color-dark;
  transition: 2s;

  &:hover {
    transform: scale(1.2);
    color: $color-danger;
  }
}

