/* Global */
$color-main: #ffff;
$color-special: #f15151;

#pages {
  > * {
    display: none;
    border-radius: $radius;
  }
}

.home-wrapper {
  margin: 30px auto;
  padding: 10px ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
  height: 1200px;
}

/* about */
@mixin image-title {
  font-family: $font-header;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: $color-light;
}

.about {
  margin: 0 60px;
  padding: 0 90px;

  h3 {
    font-family: $font-header;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0;
    padding: 20px 0;
  }
}

.hour-wrapper {
  position: relative;
  float: left;
  width: 100%;
  line-height: 15px;
  height: 126px;
  bottom: 0px;
  padding-top: 0px;
  top: 0px;
  background-color: $color-special;
  border-radius: $radius;
  color: $color-main;
  text-align: center;
}

.opening-hours {
  height: 30px;

  .title {
    font-family: $font-header;
    height: 30px;
    font-size: 26px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .data {
    font-family: $font-text;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    min-height: 18px;
    line-height: 18px;
  }

}

/* gallery */

.gallery-wrapper {
  position: relative;
  float: left;
  width: 100%;
  line-height: 15px;
  height: 420px;
  margin: 100px 0;
}

.image-large {
  width: 45%;
  height: auto;
  margin: 0;
  float: left;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 0 10%;
  }

  h2 {
    @include image-title;
  }
}

.image-medium {
  float: left;
  width: 40%;

  img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 0 10%;
  }

  h2 {
    @include image-title;
  }
}

.image-hour {
  float: left;
  width: 40%;
  height: 30%;

  img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 0 10%;
  }

  h2 {
    @include image-title;
  }
}


/* footer */
.page-footer .container {
    display: table;
    margin: 48px auto;

    ul {
    list-style-type: none;
    display: table;
    text-align: center;

        li {
            font-size: 0px;
            display: inline-block;   
          }
    }
}

.page-footer i {
  padding: 20px;
  font-size: 40px;
  color: $color-dark;
  transition: 2s;

    &:hover {
      transform: scale(1.2);
      color: $color-danger;
    }
}

